.App {
  border: 1px solid black;
  padding: 0.3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.allProductsContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  row-gap: 5rem;
  column-gap: 5rem;
  padding: 2rem;
}
.cart {
  background-color: white;
  width: 900px;
  height: 100vh;
  position: absolute;
  top: 5rem;
  left: -50rem;
  z-index: 1;
  padding: 1rem;
}
.closecart {
  position: absolute;
  right: 2rem;
  top: 0;
  cursor: pointer;
}
.genericBar {
  height: 120px;
  width: 100%;
  font-size: 3rem;
  text-align: center;
  padding: 2rem;
  color: white;
  margin-bottom: 1rem;
}
.header {
  background-color: #777777;
}
.albumsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.album {
  width: 60rem;
  height: fit-content;
  display: flex;
  align-items: center;
  margin: 0.2rem;
  padding: 0.2rem;
  border-bottom: 1px solid #777777;
}
.album > span {
  margin-right: 2rem;
  width: 200px;
}
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.content > h1 {
  width: 250px;
  height: fit-content;
  margin-top: 0.5rem;
  margin-bottom: 2rem;
  border: 1px solid #77c9ee;
  text-align: center;
}
.footer {
  height: 120px;
  width: 100%;
  background-color: #77c9ee;
  font-size: 3rem;
  text-align: center;
  padding: 2rem;
  color: white;
  margin-top: 1rem;
}
